<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <meta charset="UTF-8"> -->
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
		<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div id="question">

			</div>

<pre id="editor">def app
	"this is a book"
end

app</pre>

			<div id="result"></div>
			<button class="send" id="send">Send</button>
			<p id="tip">使用ctrl(cmd) + Enter送出</p>
		</div>
			<script type="text/javascript" src="js/editor.js"></script>
	</body>
</html>