<div class="wrapper">
	<div id="question">
	</div>

<pre id="editor">class Post
def hello
	"hello world"
end
end

Post.new.hello</pre>

	<div class="playground">
	</div>


	<div id="result"></div>
	<button class="send" id="send">Send</button>
	<p id="tip">使用ctrl(cmd) + Enter送出</p>
</div>